<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678356221803-g1kbnnc6r1tnb77p89n9ou54qn40ufju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678356221803-g1kbnnc6r1tnb77p89n9ou54qn40ufju</string>
	<key>API_KEY</key>
	<string>AIzaSyBjIUVQVgL7UkIyL2PueTwH0KewJbLhLVY</string>
	<key>GCM_SENDER_ID</key>
	<string>678356221803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamsent.sent</string>
	<key>PROJECT_ID</key>
	<string>sent-433cb</string>
	<key>STORAGE_BUCKET</key>
	<string>sent-433cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678356221803:ios:52deb87bf65cc4191d962e</string>
	<key>DATABASE_URL</key>
	<string>https://sent-433cb.firebaseio.com</string>
</dict>
</plist>